<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin HomePage</title>
  <link rel="stylesheet" href="/css/AdminHomePage.css">
</head>

<body>
<div class="header">
  <div class="left">
    <img class="header-logo" src="/images/main_logo.png" alt="Main Logo">
    <img class="header-logo" src="/images/ncrc_logo.png" alt="NCRC Logo">
    <img class="header-logo" src="/images/G20Logo.png" alt="G20 Logo">
  </div>

  <div class="right">
    <div class="nav-item">Services</div>
    <div class="nav-item">About Us</div>
    <div class="nav-item">Contact Us</div>
  </div>
</div>

<div class="sidebar">
  <a class="sidebar-link" href="/home">
    <img class="sidebar-img" src="/images/home.png" alt="Home Icon">
    <span>Home</span>
  </a>
  <a class="sidebar-link" href="/profile/admin/Admin">
    <img class="sidebar-img" src="/images/profile2.jpg" alt="Profile Icon">
    <span>Profile</span>
  </a>
  <a class="sidebar-link" href="/home/login">
    <img class="sidebar-img" src="/images/logout3.png" alt="Logout Icon">
    <span>Sign Out</span>
  </a>
</div>

<div class="main">
  <h1>Administrator</h1>

  <div class="grid">
    <a class="grid-item" href="/view/all">
      <div class="card">
        <p class="card-title">View Database</p>
        <p class="card-subtitle">Maintain The Database</p>
      </div>
    </a>
    <a class="grid-item" href="#">
      <div class="card">
        <p class="card-title">Limit Users Access</p>
        <p class="card-subtitle">Grant/Revoke Role Of Users</p>
      </div>
    </a>
    <a class="grid-item" href="#">
      <div class="card">
        <p class="card-title">Backup Data</p>
        <p class="card-subtitle">Backup & Restore Data</p>
      </div>
    </a>
    <a class="grid-item" href="#">
      <div class="card">
        <p class="card-title">Monitor Jail Administration</p>
        <p class="card-subtitle">Monitors Jail Workings</p>
      </div>
    </a>
  </div>
</div>
</body>

</html>
