<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jailer HomePage</title>
  <link rel="stylesheet" href="/css/JailerHomePage.css">
</head>

<body>
<div class="header">
  <div class="left">
    <img class="header-logo" src="/images/main_logo.png" alt="Main Logo">
    <img class="header-logo" src="/images/ncrc_logo.png" alt="NCRC Logo">
    <img class="header-logo" src="/images/G20Logo.png" alt="G20 Logo">
  </div>
  <div class="right">
    <div class="nav-item">Services</div>
    <div class="nav-item">About Us</div>
    <div class="nav-item">Contact Us</div>
  </div>
</div>

<div class="sidebar">
  <a class="sidebar-link" href="/home">
    <img class="sidebar-img" src="/images/home.png" alt="Home Icon">
    <span>Home</span>
  </a>
  <a class="sidebar-link" href="/profile/jailer">
    <img class="sidebar-img" src="/images/profile2.jpg" alt="Profile Icon">
    <span>Profile</span>
  </a>
  <a class="sidebar-link" href="/home/login">
    <img class="sidebar-img" src="/images/logout3.png" alt="Logout Icon">
    <span>Sign Out</span>
  </a>
</div>

<div class="main">
  <h1>Jailer</h1>

  <div class="grid">
    <a class="grid-item" href="/criminals/view">
      <div class="card">
        <p class="card-title">View Criminals</p>
        <p class="card-subtitle">Display all Criminals</p>
      </div>
    </a>
    <a class="grid-item" href="/criminals/add">
      <div class="card">
        <p class="card-title">Add Criminal</p>
        <p class="card-subtitle">Register A New Criminal</p>
      </div>
    </a>
    <a class="grid-item" href="#">
      <div class="card">
        <p class="card-title">Search Criminal</p>
        <p class="card-subtitle">Search for criminals in our database</p>
      </div>
    </a>
    <a class="grid-item" href="/criminals/update">
      <div class="card">
        <p class="card-title">Update Crime</p>
        <p class="card-subtitle">Add Crime Of A Criminal</p>
      </div>
    </a>
    <a class="grid-item" href="/criminals/location">
      <div class="card">
        <p class="card-title">Cell Of Criminal</p>
        <p class="card-subtitle">Cell Number & Jail Name</p>
      </div>
    </a>
    <a class="grid-item" href="/criminals/meetings">
      <div class="card">
        <p class="card-title">Meeting Records</p>
        <p class="card-subtitle">Criminal's Meeting With Outsiders</p>
      </div>
    </a>
    <a class="grid-item" href="/criminals/health">
      <div class="card">
        <p class="card-title">Health Of Criminal</p>
        <p class="card-subtitle">Health Related Data</p>
      </div>
    </a>
    <a class="grid-item" href="/criminals/assignedWorks">
      <div class="card">
        <p class="card-title">Assign Work</p>
        <p class="card-subtitle">Assign Work To Criminal</p>
      </div>
    </a>
  </div>
</div>
</body>

</html>
