<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Judge HomePage</title>
  <link rel="stylesheet" href="/css/JudgeHomePage.css">
</head>

<body>
<div class="header">
  <div class="left">
    <img class="header-logo" src="../../images/main_logo.png" alt="Main Logo">
    <img class="header-logo" src="../../images/ncrc_logo.png" alt="NCRC Logo">
    <img class="header-logo" src="../../images/G20Logo.png" alt="G20 Logo">
  </div>

  <div class="right">
    <div class="nav-item">Services</div>
    <div class="nav-item">About Us</div>
    <div class="nav-item">Contact Us</div>
  </div>
</div>

<div class="sidebar">
  <a class="sidebar-link" href="/">
    <img class="sidebar-img" src="../../images/home.png" alt="Home Icon">
    <span>Home</span>
  </a>
  <a class="sidebar-link" href="/profile/judge">
    <img class="profile-img sidebar-img" src="../../images/profile2.jpg" alt="Profile Icon">
    <span>Profile</span>
  </a>
  <a class="sidebar-link" href="/home/login">
    <img class="logout-img sidebar-img" src="../../images/logout3.png" alt="Logout Icon">
    <span>Sign Out</span>
  </a>
</div>

<div class="main">
  <h1>Judge</h1> <!-- Center this heading -->

  <div class="grid">
    <a class="grid-item" href="/criminals/view">
      <div class="card">
        <p class="card-title">View Criminals</p>
        <p class="card-subtitle">Display all Criminals</p>
      </div>
    </a>
    <a class="grid-item" href="/users/view">
      <div class="card">
        <p class="card-title">View Users</p>
        <p class="card-subtitle">Information About Other Users</p>
      </div>
    </a>
    <a class="grid-item" href="/criminals/punishments">
      <div class="card">
        <p class="card-title">Change Punishment Level</p>
        <p class="card-subtitle">Reduce/Increase Punishment Level</p>
      </div>
    </a>
    <a class="grid-item" href="/criminals/transfer">
      <div class="card">
        <p class="card-title">Transfer Criminal</p>
        <p class="card-subtitle">Transfer Criminal To Another Jail</p>
      </div>
    </a>
  </div>
</div>
</body>

</html>
