<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Police HomePage</title>
  <link rel="stylesheet" href="/css/PoliceHomePage.css">
</head>

<body>
<div class="header">
  <div class="left">
    <img class="header-logo" src="/images/main_logo.png" alt="Main Logo">
    <img class="header-logo" src="/images/ncrc_logo.png" alt="NCRC Logo">
    <img class="header-logo" src="/images/G20Logo.png" alt="G20 Logo">
  </div>

  <div class="right">
    <div class="nav-item">Services</div>
    <div class="nav-item">About Us</div>
    <div class="nav-item">Contact Us</div>
  </div>
</div>

<div class="sidebar">
  <a class="sidebar-link" href="/home">
    <div class="sidebar-icon">
      <img class="sidebar-img" src="/images/home.png" alt="Home Icon">
      <span>Home</span>
    </div>
  </a>
  <a class="sidebar-link" href="/profile/police">
    <div class="sidebar-icon">
      <img class="profile-img sidebar-img" src="/images/profile2.jpg" alt="Profile Icon">
      <span>Profile</span>
    </div>
  </a>
  <a class="sidebar-link" href="/home/login">
    <div class="sidebar-icon2">
      <img class="logout-img sidebar-img" src="/images/logout3.png" alt="Logout Icon">
      <span>Sign Out</span>
    </div>
  </a>
</div>

<div class="main">
  <h1>Police Officer</h1> <!-- Center this heading -->

  <div class="grid">
    <a class="grid-item" href="#">
      <div class="card">
        <p class="card-title">View Criminals</p>
        <p class="card-subtitle">Display all Criminals</p>
      </div>
    </a>
    <a class="grid-item" href="#">
      <div class="card">
        <p class="card-title">Transfer Criminal</p>
        <p class="card-subtitle">Transfer Criminal To Another Jail</p>
      </div>
    </a>
    <a class="grid-item" href="#">
      <div class="card">
        <p class="card-title">Search Criminal</p>
        <p class="card-subtitle">Search for criminals in our database</p>
      </div>
    </a>
  </div>
</div>
</body>

</html>
